{% extends "bootstrap/base.html" %}

<html>
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>{{ title }} - 🪨 🧻 ✂️ Let's Play </title>
    </head>
    <body>
        <ul>
            <a href="/rules" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="false">Read the Rules</a>
            <a href="/rock/scissors" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="false">Click to Play</a>

        </ul>
        <hr>
        {% block content %}

        {% endblock %}

    </body>
</html>