{% extends "bootstrap/base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <h1>Rock, Paper, Scissors Game</h1>

    <ul>
        <a href="/rules" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="false">Read the Rules</a>
        <a href="/rock/scissors" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="false">Click to Play</a>
    </ul>
    <div>
    <h4 class =  "reglas">
        Player 1 picked
        {{ player1.choice }} <br>
        Player 2 picked
        {{ player2.choice }} <br>
        🥁🥁🥁🥁
        <br>
        {{ result }}
        🪅
    
    </h4>
    </div>
    <footer class="text-center text-muted mt-2">
        This project was coded by EliCodes and it is <a href="https://github.com/elicodes89/piedrapapeltijera_hwork" target="_blank"
        rel="noopener noreferrer">open sourced</a>
    </footer> 

{% endblock %}

<!-- Add a welcome page (and a route to get it) 
    to explain the rules before the user picks their move. 
Add a link to this in the base template. -->