{% extends "base.html" %}

{% block content %}

<h1>Rock, Paper, Scissors Game</h1>

<ul>
    <li><a href="/rules">How to Play - Rules</a></li>
    <li><a href="/rock/scissors">Click to Play</a></li>
</ul>

<div className = "reglas">
    <h3>
        Players start each round by saying, “rock, paper, scissors, shoot!” 
        On “shoot,” each player holds out their fist for rock, flat hand for paper,
        or their index and middle finger for scissors. Rock crushes scissors, scissors 
        cut paper, and paper covers rock. 
    </h3>
</div>

{% endblock %}