{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<h1>Rock, Paper, Scissors Game</h1>

<ul>
    <a href="/rules" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="false">Read the Rules</a>
    <a href="/rock/scissors" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="false">Click to Play</a>

</ul>

<div class = "reglas">
    <h4>
        ✂️ Players start each round by saying, “rock, paper, scissors, shoot!” <br>
        🪨 On “shoot,” each player holds out their fist for rock, flat hand for paper,
        or their index and middle finger for scissors.  <br>
        🧻 Rock crushes scissors, scissors cut paper, and paper covers rock. 
    </h4>
</div>

{% endblock %}